.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  width: 85vw;
  text-align: center;
  color: var(--tertiarygreen);
}

.popup h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2vh;
  text-align: left;
}

.popup p {
  margin-bottom: 1vh;
  text-align: left;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup input {
  margin: auto;
  width: 100%;
  padding: 4px 10px;
  outline: 1px solid var(--tertiarygreen);
}

.popup input:focus{
  outline: 2px solid var(--tertiarygreen);
}

.popup button {
  background-color: var(--secondarygreen);
  color: #fff;
  border: none;
  margin: 2.5vh 2vh 0px;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.popupButtons {
  display: flex;  
  align-items: flex-end;
  justify-content: center;
}

.popup button:hover {
  background-color: #999;
}

.resendOTP {
  margin-top: 4vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resendOTP span {
  color: var(--font);
  font-size: 12px;
}

.resendOTP p {
  font-size: 14px;
  color: var(--secondarygreen);
}
